{% verbatim %}

<div class=""modal reveal-modal">
    <h4 class="modal-title">Please enter extra information:</h4>

<form name="">
    <div class="row">
        <div class="large-12" columns>
            <label>Select box</label>
        </div>
    </div>
</form>

</div>